/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
    padding-top: 90px;
    min-height: 80vh;
}

.list-header {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-item {
    padding: 10px;
    border-left: 1px solid #3A6073;
    border-right: 1px solid #3A6073;
    border-bottom: 1px solid #3A6073;
    font-size: 1em;
}

.card {
    border-top: 3px solid #3A6073 !important;
}

.breadcrumb a {
    color: #3A6073 !important;
}

.page-heading {
    color: #3A6073 !important;
}

.select-list {
    padding: 10px;
    padding-right: 30px;
    border-bottom: 1px solid #3A6073;
}

.select-list :hover {
    background-color: #F5F5F5;
}

.mat-form-field {
    width: 100%;
}

mat-selection-list {
    height: 210px;
    overflow-y: scroll;
  }