<app-navigation-top></app-navigation-top>

<div class="page-container">
    <div class="container">

        <nav aria-label="breadcrumb" class="animate__animated animate__backInLeft">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/user/list">User List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Password Reset</li>
            </ol>
        </nav>

        <div class="row animate__animated animate__backInRight">
            <div class="col-12">
                <h3 class="page-heading">Password Reset</h3>
            </div>
        </div>

        <div class="row">
            <!--user details-->
            <div class="col-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 class="card-title">User Details</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Display Name</mat-label>
                            <input type="text" matInput placeholder="John Doe" [(ngModel)]="user.DisplayName" readonly>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Email Address</mat-label>
                            <input type="text" matInput placeholder="John@email.com" [(ngModel)]="user.EmailAddress" readonly>
                        </mat-form-field>

                    </div>
                </div>
            </div>
            <!--end user details-->

            <!--password-->
            <div class="col-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 class="card-title">Password</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Password" [(ngModel)]="password">
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Re-Type Password</mat-label>
                            <input type="password" matInput placeholder="Password" [(ngModel)]="confirmPassword">
                        </mat-form-field>

                    </div>
                </div>
            </div>
            <!--end password-->
        </div>

        <hr>

        <!--actions-->
        <div class="row">
            <div class="col-12" align="end">
                <button mat-mini-fab color="primary" matTooltip="Save" (click)="update()"><mat-icon>save</mat-icon></button>
                &nbsp;
                <button mat-mini-fab color="warn" matTooltip="Back" (click)="backToList()"><mat-icon>arrow_back</mat-icon></button>
            </div>
        </div>
        <!--end actions-->

    </div>
</div>

<app-footer></app-footer>