<app-navigation-top></app-navigation-top>

<div class="page-container">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/user/list">User List</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Maintenance</li>
            </ol>
        </nav>

    </div>
</div>

<app-footer></app-footer>